body{
	margin: 0;
	padding: 0;
}

#myCarousel{
	height: 100vh;
	width: 100%;
}

#myCarousel img{
	height: 100vh;
	width: 100%;
}

#myCarousel h3{
	padding: 2vh;
}

#myCarousel p{
	padding: 2vh;
}

#myCarousel button{
	vertical-align: 30vh;
}

#myCarousel a{
	color: white;
	text-decoration-color: rgba(0,0,0,0);
}